.jumbotron
  %h1
    Самообновляемая библиотека текстов песен
  %p
    Этот сайт содержит тексты песен и аккорды.
    %br
    Можно зайти из под вконтактов.
    %br
    Тексты и аккорды можно добавлять вручную.
    %br
    Сайт обновляет Тексты и Исполнителей с сайтов-доноров.

