%h1
  Pezenki.ru - самый большая библиотека текстов и аккордов песен
%pre
  Этот сайт содержит тексты песен и аккорды.
  Можно зайти из под вконтактов.
  Тексты(и аккорды) и Исполнителей можно добавлять вручную.
  Сайт обновляет Тексты и Исполнителей с сайтов-доноров.

